@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {	
	background: #F3F5FC;
}

.grid-conteiner {
	display: grid;
	grid-template-columns: 1fr 5fr 3fr;
}

.coluna-logo-alura {
	margin: 40px auto;
}

.coluna-entrada-texto {
	padding: 140px 40px 0 0;
}

.coluna-entrada-texto textarea {
	width: 100%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	color: #0A3871;
	border: none;
	background: transparent;
}

.coluna-entrada-texto textarea:focus {
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.coluna-entrada-texto p {
	display: inline;
	font-family: inter;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
	vertical-align: top;
	padding: 0 5px;
}

.div-botoes{
	width: 100%;
	display: inline-flex;
	margin-bottom: 32px;	
}

.botao-criptografar {
	margin: 20px 40px 0 0;
	padding: 18px;
	background: #0A3871;
	border-radius: 18px;
	width: 50%;
	font-family: inter;
	font-style: normal;
	font-size: 1.2em;
	color: #FFFFFF;
	transition: 300ms all;
	cursor: pointer;
}

.botao-descriptografar:hover {
	transform: scale(1.03);
}

.botao-descriptografar {
	margin: 20px 0 0;
	padding: 18px;	
	background: #D8DFE8;
	border-radius: 18px;
	border: 1px solid #0A3871;
	width: 50%;
	font-family: 'Inter';
	font-style: normal;
	font-size: 1.2em;
	color: #0A3871;
	transition: 300ms all;
	cursor: pointer;
}

.botao-criptografar:hover {
	transform: scale(1.03);
}

.coluna-saida-texto {
	display: inline-grid;
	margin: 40px 40px 0;
	padding: 32px;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
}

.coluna-saida-texto-imagem {	
	width: 100%;
}

.coluna-saida-texto-nenhuma-mensagem {	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #343A40;
}

.coluna-saida-texto-digite {
	padding-top: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #495057;
}

.saida-texto-criptografado {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: #495057;
}

.botao-copiar {
	align-self: end;
	padding: 18px;	
	background: #FFFFFF;
	border-radius: 18px;
	border: 1px solid #0A3871;
	width: 100%;
	font-family: 'Inter';
	font-style: normal;
	font-size: 1.2em;
	color: #0A3871;
	transition: 300ms all;
	cursor: pointer;
}

.botao-copiar:hover {
	transform: scale(1.03);
}

footer {
	padding: 20px 0;
	background: linear-gradient(#F3F5FC, #D8DFE8);
	text-align: center;
}

footer p {
	font-size: 1.2em;
	font: bold;
	padding: 0.2em 0;
	color: #343A40;
}

@media screen and (max-width: 480px) {
	
	.grid-conteiner {
		display: inline-block;
		margin: 0 20px;
	}

	.coluna-logo-alura {
    	margin: 20px auto;
	}

	.coluna-entrada-texto {
    	padding: 10px 0px 0;
    	max-height: 250px;
	}

	.div-botoes {
    	display: inline-block;
	}

	.botao-criptografar {
	    margin: 10px 0;
	    width: 100%;
	}

	.botao-descriptografar {
		margin: 10px 0;
	    width: 100%;
	}

	.coluna-saida-texto-imagem {
	    content-visibility: hidden;
	}

	.coluna-saida-texto {
	    margin: 20px 0;
	    display: block;
	}

	.saida-texto-criptografado {
    	margin: 0 0 20px;
 	}
}